@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&family=Source+Sans+Pro:wght@400;600;700&display=swap');

html,
body,
#root,
.app,
.content {
    height: 100%;
    width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
}

.app {
    display: flex;
    position: relative;
}

/* @media (max-width: 800px) {
    .box {
        grid-column: span 12;
    }
} */
